@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .animation-loader {
        animation: bounceUp 2s infinite;
    }
    @keyframes bounceUp {
        30% {
            transform: translateY(-4rem);
        }
        60% {
            transform: translateY(0rem);
        }
        86% {
            transform: translateY(-1rem);
        }
        100% {
            transform: translateY(0rem);
        }
    }
    .noscrollbar {
        scrollbar-width: none;
    }
    .noscrollbar::-webkit-scrollbar {
        display: none;
    }
    .bg-custom-gradient{
        background-image: linear-gradient(to top left, #334155dc 50%, rgba(158, 130, 134, 0.772) 50%);
    }
    .text-shadow-white{
        text-shadow: 0.07vw 0.06vw rgb(225, 224, 224);
    }
    .text-shadow-black{
        text-shadow: 0.06vw 0.06vw black;
    } 
    .box-shadow-inset{
        box-shadow: inset 0 0 20px #000000;
    }
}



@layer components{
    .buttons{
        padding-inline: 1.2vw;
        border-radius: 8px;
        line-height: 3vw;
        background-color: rgb(40, 40, 223);
        color: black;
        font-weight: 700;
        text-transform: capitalize;
        border: 2px solid black;
        text-shadow: 0.07vw 0.06vw gray;
        position: relative;
        overflow: hidden;
        isolation: isolate;
        &::after{
            content: '';
            position: absolute;
            right: -1vw;
            bottom: 0.6vw;
            width: 120%;
            height: 120%;
            background-image: linear-gradient(
                to bottom,
                #2564ebc2,
                #2564ebe2,
                #2564ebe2,
                rgba(83, 236, 106, 0.26),
                rgba(88, 212, 88, 0.493),
                rgb(91, 225, 84)
            );
            transform: rotate(-338deg) translateY(-4vw);
            transition: all 0.4s ease-out;
            mix-blend-mode: color;
        }
        &::before{
            mix-blend-mode: color;
            content: '';
            position: absolute;
            left: -1vw;
            top: 0.6vw;
            width: 120%;
            height: 120%;
            background-image: linear-gradient(
                to top,
                #2564ebc2,
                #2564ebe2,
                #2564ebe2,
                rgba(195, 186, 186, 0.26),
                rgba(176, 172, 172, 0.493),
                red
            );
            transform: rotate(22deg) translateY(4vw);
            transition: all 0.4s ease-out;
        }
        &:hover{
            box-shadow: 1px 1px 1.2px var(--btnColor);
            transition: all 0.4s;
            &::after{
                transform: rotate(-338deg) translateY(0);
            }
            &::before{
                transform: rotate(22deg) translateY(0);
            }
        }
    }
    .toggler{
        --width:3.58vw;
        --height: 1.4vw;
        width: var(--width);
        height: var(--height);
        transition: all 0.5s;
        &::before{
            width: var(--height);
            aspect-ratio: 1/1;
        }
    }
    @media (max-width:640px){
        .buttons{
            padding-inline: 2vw;
            line-height: 5.2vw;
            &::after{
                transform: rotate(-338deg) translateY(-8vw);
            }
            &::before{
                transform: rotate(22deg) translateY(8vw);
            }
        }
        .toggler{
            --width: 6vw;
            --height: 2.7vw;
        }
    }
}